# Ignore all RDD or XML resources
resources/

/.ipynb_checkpoints

target/

# target directories for ant build
/build/
/dists/

# other
/out/
/bin/
/sandbox/

# eclipse, intellij
/.classpath
/.project
/src/intellij/*.iml
/src/intellij/*.ipr
/src/intellij/*.iws
/.cache
/.idea
/.settings

# bak files produced by ./cleanup-commit
*.bak

# Standard symbolic link to build/quick/bin
qbin

# Mac specific, but that is common enough a dev platform to warrant inclusion.
.DS_Store

